name: A workflow for my Hello World file
on: push

jobs:
  build:
    name: Hello world action
    runs-on: self-hosted
    steps:
      - name: git
        run: |
          cd ~/legendary-succotash
          git pull
      - name: run a one line script
        run: touch ~/woohoo1.txt
      - name: run script
        run: |
          chmod +x ~/legendary-succotash/scripts/installTerraform.sh
          ~/legendary-succotash/scripts/installTerraform.sh
